/**
 * CSS for Amethyst color scheme presets.
 *
 * @package just-another-theme
 */

body.wp-template,
.color-section,
.color-section.menu ul {
	background-color: #43374a;
}

a {
	color: #2c4604;
}

a:hover, 
a:focus, 
a:active {
	color: #542a6c;
}

.gobutton,
.gobutton:visited,
.page-links a,
.page-links a:visited,
.post-navigation a,
.post-navigation a:visited,
.posts-navigation a,
.posts-navigation a:visited,
.comment-navigation a,
.comment-navigation a:visited,
.reply a,
.reply a:visited, 
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #4f395d;
}

.gobutton:hover,
.gobutton:focus,
.gobutton:active,
.page-links a:hover,
.page-links a:focus,
.page-links a:active,
.post-navigation a:hover,
.post-navigation a:focus,
.post-navigation a:active,
.posts-navigation a:hover,
.posts-navigation a:focus,
.posts-navigation a:active,
.comment-navigation a:hover,
.comment-navigation a:focus,
.comment-navigation a:active,
.reply a:hover,
.reply a:focus,
.reply a:active,
button:hover,
button:active, 
button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
	background-color: #6f4f66;
}

blockquote,
.main-navigation-content {
	border-color: #78934f;
} 

h2,
.sidebar-primary .widget-title,
.sidebar-bottom .widget-title,
.blog .entry-title,
.archive .entry-title,
.search-results .entry-title {
	color: #362f3b;
}

h3:before {
	color: #78934f;  
}

h4,
.em-color {
	color: #283659;
}

.color-section input[type="text"],
.color-section input[type="email"],
.color-section input[type="url"],
.color-section input[type="password"],
.color-section input[type="search"],
.color-section input[type="number"],
.color-section input[type="tel"],
.color-section input[type="range"],
.color-section input[type="date"],
.color-section input[type="month"],
.color-section input[type="week"],
.color-section input[type="time"],
.color-section input[type="datetime"],
.color-section input[type="datetime-local"],
.color-section input[type="color"],
.color-section textarea, 
.color-section select {
	background-color: #514359;
}

.color-section .gobutton,
.color-section .gobutton:visited, 
.color-section button,
.color-section input[type="button"],
.color-section input[type="reset"],
.color-section input[type="submit"] {
	background-color: #596b45;
}

.color-section .gobutton:hover,
.color-section .gobutton:focus,
.color-section .gobutton:active,
.color-section button:hover,
.color-section button:active, 
.color-section button:focus,
.color-section input[type="button"]:hover,
.color-section input[type="button"]:active,
.color-section input[type="button"]:focus,
.color-section input[type="reset"]:hover,
.color-section input[type="reset"]:active,
.color-section input[type="reset"]:focus,
.color-section input[type="submit"]:hover,
.color-section input[type="submit"]:active,
.color-section input[type="submit"]:focus {
	background-color: #4a533f;
}

.widgets-footer .widget-title {
	border-color: #78934f;
}