/**
 * CSS for Amethyst color scheme presets.
 *
 * @package just-another-theme
 */

body,
.site-top-wrapper,
.site-footer {
	background-color: #4c3f54; background-color: #43374A;
}

a {
	color: #214760;
}

a:hover, 
a:focus, 
a:active {
	color: #592126;
}

.gobutton,
.gobutton:visited,
.page-links a,
.page-links a:visited,
.post-navigation a,
.post-navigation a:visited,
.posts-navigation a,
.posts-navigation a:visited,
.reply a,
.reply a:visited, 
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #324653; 
}

.gobutton:hover,
.gobutton:focus,
.gobutton:active,
.page-links a:hover,
.page-links a:focus,
.page-links a:active,
.post-navigation a:hover,
.post-navigation a:focus,
.post-navigation a:active,
.posts-navigation a:hover,
.posts-navigation a:focus,
.posts-navigation a:active,
.reply a:hover,
.reply a:focus,
.reply a:active,
button:hover,
button:active, 
button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
	background-color: #8c555b; 
}

.main-navigation-content,
.main-navigation ul {
	background-color: #43374A;
}

.main-navigation-content {
	border-color: #cbbeb3; 
}

.main-navigation ul ul > li a:hover { 
	background-color: #3f3445;
}

/* Adjust for mobile screen sizes */
@media screen and (max-width: 37.5em) {
	.main-navigation a:hover {
		background-color: #3f3445; 
	}
	
	.menu-toggle:hover,
	.menu-toggle:focus,
	.menu-toggle:active {
		background-color: #3f3445; 
	}
}

blockquote {
	border-color: #a07378; 
}

.main-navigation-content {
	border-color: #cbbeb3; 
} 

h2,
.sidebar-primary .widget-title,
.sidebar-bottom .widget-title,
.blog .entry-title,
.archive .entry-title,
.search-results .entry-title {
	color: #2e404c; 
}

h3:before {
	color: #a07378;  
}

h4,
.em-color {
	color: #4d2e60; 
}

.site-footer a,
.site-footer a:visited {
	color: #ebe7e3; 
}

.site-footer a:hover,
.site-footer a:focus,
.site-footer a:active {
	color: #d5c1c3; 
}

.site-footer input[type="text"],
.site-footer input[type="email"],
.site-footer input[type="url"],
.site-footer input[type="password"],
.site-footer input[type="search"],
.site-footer input[type="number"],
.site-footer input[type="tel"],
.site-footer input[type="range"],
.site-footer input[type="date"],
.site-footer input[type="month"],
.site-footer input[type="week"],
.site-footer input[type="time"],
.site-footer input[type="datetime"],
.site-footer input[type="datetime-local"],
.site-footer input[type="color"],
.site-footer textarea, 
.site-footer select {
	background-color: #514359;
	border-color: #3f3445;
}

.site-footer .gobutton,
.site-footer .gobutton:visited, 
.site-footer button,
.site-footer input[type="button"],
.site-footer input[type="reset"],
.site-footer input[type="submit"] {
	background-color: #392F3F; 
	border: 1px solid rgba(0,0,0,0.1);
}

.site-footer .gobutton:hover,
.site-footer .gobutton:focus,
.site-footer .gobutton:active,
.site-footer button:hover,
.site-footer button:active, 
.site-footer button:focus,
.site-footer input[type="button"]:hover,
.site-footer input[type="button"]:active,
.site-footer input[type="button"]:focus,
.site-footer input[type="reset"]:hover,
.site-footer input[type="reset"]:active,
.site-footer input[type="reset"]:focus,
.site-footer input[type="submit"]:hover,
.site-footer input[type="submit"]:active,
.site-footer input[type="submit"]:focus {
	background-color: #8c555b; 
}

.widgets-footer .widget {
	margin-bottom: 0; 
}

.widgets-footer .widget-title {
	background-color: #392F3F;
	border: none;
	border: 1px dotted #cbbeb3;
}
.widgets-footer .widget > p,
.widgets-footer .widget > img,
.widgets-footer .widget > div,
.widgets-footer .widget > table,
.widgets-footer .widget > form {
	padding-right: 4px; 
}