/**
 * CSS for Blue color scheme presets.
 *
 * @package just-another-theme
 */

body.wp-template,
.color-section,
.color-section.menu ul {
	background-color: #133456; 
}

a {
	color: #145da6;
}

a:hover, 
a:focus, 
a:active {
	color: #5e1e5e;
}

.gobutton,
.gobutton:visited,
.page-links a,
.page-links a:visited,
.post-navigation a,
.post-navigation a:visited,
.posts-navigation a,
.posts-navigation a:visited,
.reply a,
.reply a:visited, 
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #737373;
}

.gobutton:hover,
.gobutton:focus,
.gobutton:active,
.page-links a:hover,
.page-links a:focus,
.page-links a:active,
.post-navigation a:hover,
.post-navigation a:focus,
.post-navigation a:active,
.posts-navigation a:hover,
.posts-navigation a:focus,
.posts-navigation a:active,
.reply a:hover,
.reply a:focus,
.reply a:active,
button:hover,
button:active, 
button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
	background-color: #676767;
}

blockquote,
.main-navigation-content {
	border-color: #999;
}

h2,
.sidebar-primary .widget-title,
.sidebar-bottom .widget-title,
.blog .entry-title,
.archive .entry-title,
.search-results .entry-title {
	color: #2a323b;
}

h3:before {
	color: #999;
}

h4,
.em-color {
	color: #133456;
}

.color-section input[type="text"],
.color-section input[type="email"],
.color-section input[type="url"],
.color-section input[type="password"],
.color-section input[type="search"],
.color-section input[type="number"],
.color-section input[type="tel"],
.color-section input[type="range"],
.color-section input[type="date"],
.color-section input[type="month"],
.color-section input[type="week"],
.color-section input[type="time"],
.color-section input[type="datetime"],
.color-section input[type="datetime-local"],
.color-section input[type="color"],
.color-section textarea, 
.color-section select {
	background-color: #284666;
}

.widgets-footer .widget-title {
	border-color: #999;
}