/**
 * CSS for Kiddie Time color scheme presets.
 *
 * @package just-another-theme
 */

a {
	color: #00756a;
}

a:hover, a:focus, a:active {
	color: #b56204;
}

.gobutton,
.gobutton:visited,
.page-links a,
.page-links a:visited,
.post-navigation a,
.post-navigation a:visited,
.posts-navigation a,
.posts-navigation a:visited,
.reply a,
.reply a:visited, 
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #148278;
}

.gobutton:hover,
.gobutton:focus,
.gobutton:active,
.page-links a:hover,
.page-links a:focus,
.page-links a:active,
.post-navigation a:hover,
.post-navigation a:focus,
.post-navigation a:active,
.posts-navigation a:hover,
.posts-navigation a:focus,
.posts-navigation a:active,
.reply a:hover,
.reply a:focus,
.reply a:active,
button:hover,
button:active, 
button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus{
	background-color: #b56204;
}

.main-navigation-content,
.main-navigation ul {
	background-color: #333;
}

/* Adjust for mobile screen sizes */
@media screen and (max-width: 37.5em) {
	.menu-toggle:hover,
	.menu-toggle:focus,
	.menu-toggle:active {
		background-color: #1f1f1f;
	}
}

blockquote,
.main-navigation-content,
.widgets-footer .widget-title {
	border-color: #129a8d;
}

h2,
.sidebar-primary .widget-title,
.sidebar-bottom .widget-title,
.blog .entry-title,
.archive .entry-title,
.search-results .entry-title {
	color: #532297;
}

h3:before {
	color: #f6921e;
}

h4,
.em-color {
	color: #00756a;
}

.site-footer a,
.site-footer a:visited {
	color: #7fe3d9;
}

.site-footer a:hover,
.site-footer a:focus,
.site-footer a:active {
	color: #eeb16b;
}

.site-footer .gobutton,
.site-footer .gobutton:visited,
.site-footer button,
.site-footer input[type="button"],
.site-footer input[type="reset"],
.site-footer input[type="submit"] {
	background-color: #08706d;
	border: 1px solid rgba(0,0,0,0.1);
}

.site-footer .gobutton:hover,
.site-footer .gobutton:focus,
.site-footer .gobutton:active,
.site-footer button:hover,
.site-footer button:active, 
.site-footer button:focus,
.site-footer input[type="button"]:hover,
.site-footer input[type="button"]:active,
.site-footer input[type="button"]:focus,
.site-footer input[type="reset"]:hover,
.site-footer input[type="reset"]:active,
.site-footer input[type="reset"]:focus,
.site-footer input[type="submit"]:hover,
.site-footer input[type="submit"]:active,
.site-footer input[type="submit"]:focus {
	background-color: #b56204;
}