/**
 * CSS for Midnight Green color scheme presets.
 *
 * @package just-another-theme
 */
 
body,
.site-top-wrapper,
.site-footer { 
	background-color: #081e16;
}

a { 
	color: #354d6e; 
}

a:hover, 
a:focus, 
a:active {
	color: #2d493e; 
}

.gobutton,
.gobutton:visited,
.page-links a,
.page-links a:visited,
.post-navigation a,
.post-navigation a:visited,
.posts-navigation a,
.posts-navigation a:visited,
.reply a,
.reply a:visited,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #354d6e; 
}

.gobutton:hover,
.gobutton:focus,
.gobutton:active,
.page-links a:hover,
.page-links a:focus,
.page-links a:active,
.post-navigation a:hover,
.post-navigation a:focus,
.post-navigation a:active,
.posts-navigation a:hover,
.posts-navigation a:focus,
.posts-navigation a:active,
.reply a:hover,
.reply a:focus,
.reply a:active,
button:hover,
button:active, 
button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
	background-color: #26644c; 
}

.main-navigation-content,
.main-navigation ul { 
	background-color: #081e16;
}

.main-navigation ul ul > li a:hover {
	background-color: #08140f;
}

/* Adjust for mobile screen sizes */
@media screen and (max-width: 37.5em) {
	.main-navigation a:hover,
	.menu-toggle:hover,
	.menu-toggle:focus,
	.menu-toggle:active {
		background-color: #08140f;
	}
}

blockquote,
.main-navigation-content { 
	border-color: #26644c;
} 
 
h2,
.sidebar-primary .widget-title,
.sidebar-bottom .widget-title,
.blog .entry-title,
.archive .entry-title,
.search-results .entry-title { 
	color: #223247;
}

h3:before { 
	color: #5b7065; 
}

h4,
.em-color { 
	color: #4a596d; 
}

.site-footer a,
.site-footer a:visited {
	color: #c2fffe; 
}

.site-footer a:hover,
.site-footer a:focus,
.site-footer a:active {
	color: #e1eeff; 
}

.site-footer input[type="text"],
.site-footer input[type="email"],
.site-footer input[type="url"],
.site-footer input[type="password"],
.site-footer input[type="search"],
.site-footer input[type="number"],
.site-footer input[type="tel"],
.site-footer input[type="range"],
.site-footer input[type="date"],
.site-footer input[type="month"],
.site-footer input[type="week"],
.site-footer input[type="time"],
.site-footer input[type="datetime"],
.site-footer input[type="datetime-local"],
.site-footer input[type="color"],
.site-footer textarea, 
.site-footer select { 
	background-color: #21302b; 
	border-color: #08140f; 
}

.site-footer .gobutton,
.site-footer .gobutton:visited, 
.site-footer button,
.site-footer input[type="button"],
.site-footer input[type="reset"],
.site-footer input[type="submit"] {
	background-color: #2d493e; 
}

.site-footer .gobutton:hover,
.site-footer .gobutton:focus,
.site-footer .gobutton:active,
.site-footer button:hover,
.site-footer button:active, 
.site-footer button:focus,
.site-footer input[type="button"]:hover,
.site-footer input[type="button"]:active,
.site-footer input[type="button"]:focus,
.site-footer input[type="reset"]:hover,
.site-footer input[type="reset"]:active,
.site-footer input[type="reset"]:focus,
.site-footer input[type="submit"]:hover,
.site-footer input[type="submit"]:active,
.site-footer input[type="submit"]:focus {
	background-color: #26644c;
}

.widgets-footer {
	padding-top: 15px;
}

.widgets-footer .widget {
	background-color: #1a2622; 
	border: 1px solid #000;
	margin-bottom: 1rem;
	padding: 0 0 15px 0;
}

.widgets-footer .widget-title { 
	background-color: #08140f;
	border-color: #26644c;
}

.widgets-footer .widget > p,
.widgets-footer .widget > img,
.widgets-footer .widget > form,
.widgets-footer .widget > table,
.widgets-footer .widget > div {
	padding-right: 15px; 
	padding-left: 15px;
}