/**
 * CSS for Pearl color scheme presets.
 *
 * @package just-another-theme
 */

body.wp-template,
.color-section,
.color-section.menu ul {
	background-color: #d4cfc6;
}

a {
	color: #2e3599;
}

a:hover, 
a:focus, 
a:active {
	color: #725623;
}

.gobutton,
.gobutton:visited,
.page-links a,
.page-links a:visited,
.post-navigation a,
.post-navigation a:visited,
.posts-navigation a,
.posts-navigation a:visited,
.comment-navigation a,
.comment-navigation a:visited,
.reply a,
.reply a:visited, 
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #968057;
}

.gobutton:hover,
.gobutton:focus,
.gobutton:active,
.page-links a:hover,
.page-links a:focus,
.page-links a:active,
.post-navigation a:hover,
.post-navigation a:focus,
.post-navigation a:active,
.posts-navigation a:hover,
.posts-navigation a:focus,
.posts-navigation a:active,
.comment-navigation a:hover,
.comment-navigation a:focus,
.comment-navigation a:active,
.reply a:hover,
.reply a:focus,
.reply a:active,
button:hover,
button:active, 
button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
	background-color: #826d46;
}

.main-navigation ul ul > li a:hover {
	background-color: #cbc6bc;
}

@media screen and (max-width: 770px) {

	.main-navigation a:hover {
		background-color: #cbc6bc;
	}
}

.color-section .menu-toggle,
.color-section .menu-toggle:hover,
.color-section .menu-toggle:focus,
.color-section .menu-toggle:active {
	background-image: url(../img/toggle-dark.png);
}

blockquote,
.main-navigation-content {
	border-color: #968057;
}

h2,
.sidebar-primary .widget-title,
.sidebar-bottom .widget-title,
.blog .entry-title,
.archive .entry-title,
.search-results .entry-title {
	color: #333029;
}

h3:before {
	color: #636799;
}

h4,
.em-color {
	color: #464a75;
}

hr {
	background-color: #d6cfc7;
}

.sidebar-primary,
.widgets-bottom {
	border-color: #d6cfc7;
}

.blog article,
.archive article, 
.search-results article,
.blog article:first-of-type,
.archive article:first-of-type,
.search-results article:first-of-type,
.single .entry-meta {
	border-color: #ccc5be;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea, 
select {
	border-color: #bfb9b2;
}

.comment-list .children {
	border-color: #ab9e90;
}

.color-section,
.color-section a {
	color: #1f1f1f;
}

.color-section a:hover {
	color: #000;
}

.color-section .widget-title {
	color: #333029;
}

.color-section input[type="text"],
.color-section input[type="email"],
.color-section input[type="url"],
.color-section input[type="password"],
.color-section input[type="search"],
.color-section input[type="number"],
.color-section input[type="tel"],
.color-section input[type="range"],
.color-section input[type="date"],
.color-section input[type="month"],
.color-section input[type="week"],
.color-section input[type="time"],
.color-section input[type="datetime"],
.color-section input[type="datetime-local"],
.color-section input[type="color"],
.color-section textarea,
.color-section select {
	background-color: #dddad3;
	border-color: rgba(0,0,0,.25);
	color: #1f1f1f;
}

.color-section input[type="text"]:focus,
.color-section input[type="email"]:focus,
.color-section input[type="url"]:focus,
.color-section input[type="password"]:focus,
.color-section input[type="search"]:focus,
.color-section input[type="number"]:focus,
.color-section input[type="tel"]:focus,
.color-section input[type="range"]:focus,
.color-section input[type="date"]:focus,
.color-section input[type="month"]:focus,
.color-section input[type="week"]:focus,
.color-section input[type="time"]:focus,
.color-section input[type="datetime"]:focus,
.color-section input[type="datetime-local"]:focus,
.color-section input[type="color"]:focus,
.color-section textarea:focus {
	color: #000;}

.color-section ::placeholder {
	color: rgba(0,0,0,.48);
}

.widgets-footer .widget-title {
	background-color: #cbc6bc;
	border-color: #968057;
}

/* Mobile and tablet portrait orientation */
@media screen and (max-width: 770px) {
	.sidebar-primary,
	.bottom-content {
		background-color: #f7f2eb;
	}
}