/**
 * CSS for TinyMCE editor.
 *
 * @package just-another-theme
 */
 
html {
	font-size: 18px; line-height: 1.15; -webkit-text-size-adjust: 100%;}
	
body,
button,
input,
select,
optgroup,
textarea {
	color: #333; font-family: Arial, Helvetica, sans-serif; font-size: 1rem;
	line-height: 1.5;}
	
h1, h2, h3, h4, h5, h6 {
	clear: both; font-weight: bold; margin: 0 0 15px 0;}

h2 {
	font-size: 1.8rem;}

h3 {
	font-size: 1.5rem;}
	
h3:before {
	color: #333; content: '\2605'; font-size: 1.4rem; padding-right: 10px;}

h4 {
	font-size: 1.2rem;}

p {
	margin: 0 0 13px 0;}
	
dfn, cite, em, i {
	font-style: italic;}

blockquote {
	border-left: 7px solid #666; font-style: italic;
	margin: 1.1rem 1.5em 1.1rem .75rem; padding-left: 1rem;}

address {
	margin: 0 0 13px 0;}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace; font-size: 0.9375rem;
	line-height: 1.6; margin-bottom: 

sub,
sup {
	font-size: .75rem; line-height: 0; position: relative; vertical-align: baseline;}

sub {
	bottom: -0.25em;}

sup {
	top: -0.5em;}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 0.9375rem;}

abbr, acronym {
	border-bottom: 1px dotted #666; cursor: help;}

mark, ins {
	background: #fff9c0; text-decoration: none;}

big {
	font-size: 1.1rem;}

hr {
	background-color: #ddd; border: 0; height: 1px; margin-bottom: 1.5em;}

ul, ol {
	margin: 0 0 13px 0;}

ul {
	list-style: disc;}

ol {
	list-style: decimal;}

li > ul,
li > ol {
	margin-bottom: 0; padding-left: 20px;}

dt {
	font-weight: bold;}

dd {
	margin: 0 1.5em 1.5em;}

img {
	border-style: none; height: auto; max-width: 100%;}

figure {
	margin: 1em 0;}

table {
	margin: 0 0 13px 0; max-width: 100%; width: 100%;}
	
a:hover, 
a:focus, 
a:active {
	text-decoration: underline;}

.em-color {
	color: #000; font-weight: bold;}

.em-size {
	font-size: 1.15rem;} /* deprecated */

.larger-text {
	font-size: 1.15rem;}

.smaller-text {
	font-size: .82rem;}

.widebutton {max-width: 100%; text-align: center; width: 100%;}

.deck {
	font-size: 1.5rem; font-weight: bold;}

.subdeck {
	font-size: 1.25rem; font-weight: bold;
}

hr.thick {
	height: 4px; margin: 13px 0;}
	
blockquote.bigblock {
	font-size: 1.3em;}